<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Agora Vote</mat-card-title>
        </mat-card-header>
      </mat-card>
    <mat-action-list role="list">
      <button mat-list-item [routerLink]="['/home']">Home</button>
      <button mat-list-item >Dashboard</button>
      <button mat-list-item >Profile</button>
      <button mat-list-item >About</button>
      <button mat-list-item >Help</button>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-button (click)="sidenav.toggle()">
              <mat-icon>view_headline</mat-icon>
            </button>
          <span class="example-spacer"></span>
          <button mat-button [matMenuTriggerFor] = "menu">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/user/signin']" ><mat-icon>vpn_key</mat-icon><span>SignIn</span></button>
            <button mat-menu-item [routerLink]="['/user/signup']" ><mat-icon>person_add</mat-icon><span>SignUp</span></button>
          </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>