<mat-card>
  <mat-card-title>Dashboard</mat-card-title>
  <mat-card-content>
      <mat-chip-list>
        <mat-chip color="primary" selected >Total Elections {{elections}}</mat-chip>
        <mat-chip color="primary" selected >Pending Elections {{pendingElections}}</mat-chip>
        <mat-chip color="primary" selected >Active Elections {{activeElections}}</mat-chip>
        <mat-chip color="accent" selected >Finished Elections {{finishedElections}}</mat-chip>
      </mat-chip-list>

      <mat-tab-group dynamicHeight>
        <mat-tab label="All">
          <!-- Loop through elections and generate these cards - START -->
          <mat-card>
            <mat-card-title>
              Election 1
            </mat-card-title>

            <mat-card-content>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Description
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <p>The quick brown fox jumps over the lazy dog.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Candidates
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Nikhil Bhandarkar</p>
                </mat-expansion-panel>
                
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Important
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>
                    Start:   12/03/2019, 18:18:04<br>
                    Finish:  31/01/2100, 18:30:00<br>
                    Status:  Active
                  </p>
                </mat-expansion-panel>

              </mat-accordion>
            </mat-card-content>
          </mat-card>
          <!-- Loop through elections and generate these cards - END -->

          <!-- Loop through elections and generate these cards - START -->
          <mat-card>
              <mat-card-title>
                Election 2
              </mat-card-title>
  
              <mat-card-content>
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          Description
                      </mat-panel-title>
                      <mat-panel-description>
                        
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <p>The quick brown fox jumps over the lazy dog.</p>
                  </mat-expansion-panel>
  
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          Candidates
                      </mat-panel-title>
                      <mat-panel-description>
                        
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Nikhil Bhandarkar</p>
                  </mat-expansion-panel>
                  
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          Important
                      </mat-panel-title>
                      <mat-panel-description>
                        
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>
                      Start:   12/03/2019, 18:18:04<br>
                      Finish:  31/01/2100, 18:30:00<br>
                      Status:  Active
                    </p>
                  </mat-expansion-panel>
  
                </mat-accordion>
              </mat-card-content>
            </mat-card>
            <!-- Loop through elections and generate these cards - END -->
        </mat-tab>
        <mat-tab label="Pending">
          <!-- Loop through elections and generate these cards - START -->
          <mat-card>
            <mat-card-title>
              Election 1
            </mat-card-title>

            <mat-card-content>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Description
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <p>The quick brown fox jumps over the lazy dog.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Candidates
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Nikhil Bhandarkar</p>
                </mat-expansion-panel>
                
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Important
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>
                    Start:   12/03/2019, 18:18:04<br>
                    Finish:  31/01/2100, 18:30:00<br>
                    Status:  Active
                  </p>
                </mat-expansion-panel>

              </mat-accordion>
            </mat-card-content>
          </mat-card>
          <!-- Loop through elections and generate these cards - END -->
        </mat-tab>
        <mat-tab label="Active">
          <!-- Loop through elections and generate these cards - START -->
          <mat-card>
            <mat-card-title>
              Election 1
            </mat-card-title>

            <mat-card-content>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Description
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <p>The quick brown fox jumps over the lazy dog.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Candidates
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Nikhil Bhandarkar</p>
                </mat-expansion-panel>
                
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Important
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>
                    Start:   12/03/2019, 18:18:04<br>
                    Finish:  31/01/2100, 18:30:00<br>
                    Status:  Active
                  </p>
                </mat-expansion-panel>

              </mat-accordion>
            </mat-card-content>
          </mat-card>
          <!-- Loop through elections and generate these cards - END -->
        </mat-tab>
        <mat-tab label="Finished">
          <p>Nothing to show here. Move along..!</p>
        </mat-tab>
      </mat-tab-group>
  </mat-card-content>
</mat-card>