<div class="container">
  <div class="row justify-content-center align-items-center">

      <mat-card class="example-card col">
        <mat-card-header>
          <mat-card-title style=" position: relative; text-align: center;">Welcome To Agora Web</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://agora-frontend.herokuapp.com/assets/agora.png" style="width:20em; height:20em; position: relative; text-align: center;" >        
      </mat-card>

      <!-- <mat-card class="col-8" >
          <mat-card-title>
              Welcome to Agora Vote
          </mat-card-title>
          <mat-card-content>
            <p>Agora vote is a voting platform where users can create elections and invite friends to cast their votes. It supports a wide range of voting algorithms some of which are Majority, Egalitarian, Australian STV just to name a few</p>
          </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button color="primary">Learn More</button>
          </mat-card-actions>
      </mat-card> -->
  </div>
</div>