<div class="container">
    <div class="row justify-content-center align-items-center">
        <mat-card class="col-8">
            <mat-card-title>
              Sign Up
            </mat-card-title>
            <mat-card-subtitle>
              Join The revolution
            </mat-card-subtitle>
            <mat-card-content>
                <form class="example-form" [formGroup]="signUpForm">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName="userName">
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email" formControlName="email">
                      <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <span matPrefix>+91 &nbsp;</span>
                    <input type="tel" formControlName="phone" matInput placeholder="Phone">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input matInput formControlName="password" placeholder="Enter your password" [type]="passwordHide ? 'password' : 'text'">
                      <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </mat-form-field>
                  <button mat-raised-button type="submit" [disabled]="!signUpForm.valid" color="primary">Submit</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
  </div>